.alerta {
  padding: .5rem;
  text-align: center;
  color: $blanco;
  margin: 1rem 0;
  font-weight: $bold;
  text-transform: uppercase;

  &.error {
    background-color: $rojo;
  }

  &.exito {
    background-color: $verde;
  }
  &.actualizado {
    background-color: $amarillo;
  }
}

table.propiedades {
  margin-top: 4rem;
  width: 100%;
  border-spacing: 0;

  thead {
    background-color: $verde;

    th {
      color: $blanco;
      padding: 2rem;
    }
  }
  .imagen-tabla {
    width: 100px;
  }

}
@include tablet{
    .vendedor{
        @include grid(2, 2rem);
    }
}
table.vendedor-contenido{
  margin-top: 4rem;
  
}
